dotenv
openai
openai-agents
sendgrid
langchain_core
langgraph
perplexityai
tavily-python
polygon-api-client
 -e /home/anh/workspace/agent-trd
 -e /home/anh/workspace/trading-history-service

gradio
langchain
langchain_openai
langchain-community
langchain_experimental
wikipedia
alpaca-mcp-server